@charset "utf-8";
/* CSS Document */

h1 {
    font-family:"roboto"; 
    font-style: italic; 
    font-size: 65px;
    text-align: center;
    text-decoration: underline black 3px; 
}

img {
    float: right; 
}

body {
    background:lightblue;
    border:5px solid blue;
}

p {
    color: white;
    font-style: italic; 
}

li {
    display: inline; 
    background: black; 
    color: white; 
}

.test {
    text-align: center; 
    width: 150px; 
    padding: 20px; 
    margin: 30px; 
    border: 5px solid #B07274; 
}

